<!-- DEBUT CONTAINER BOOTSTRAP -->
		<div class="container">
      <section>
        <header>
			<div class="top">
				<div class="logo col-xs-12 col-sm-4" id="logo"> <!-- LOGO -->
				</div>
			   <div class="banner hidden-xs col-sm-8 "id="bandeau"> <-- BANNER -->
			   </div>
			</div>
        </header>
      </section>
<section>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LinuxGyver</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Accueil <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Page 1</a></li>
       	{{#compare status 'true' operator='=='}}
			<li><a href="/admin">Admin</a></li>  <!-- PAGE UTILISATEUR CONNECTE -->
		{{/compare}}
        <li><a href="contact.html">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{#compare status 'true' operator='=='}}
			<li><a href="/logout">Déconnexion</a></li>
        {{else}}
			<li><a href="/login">Connexion</a></li>
        {{/compare}}
        <li><a href="signin.html">S'inscrire</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</section>

